# name: Deploy to AWS Elastic Beanstalk

# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v3

#       - name: Setup Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: '18'

#       - name: Install dependencies
#         run: npm install

#       - name: Deploy to AWS Elastic Beanstalk
#         env:
#           AWS_ACCESS_KEY_ID:
#           AWS_SECRET_ACCESS_KEY: 
#           AWS_REGION: 
#         run: npx elastic-beanstalk-deploy


name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Zip source bundle
        run: zip -r my-app.zip . -x "*.git*"

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: 'Demo'
          environment_name: 'Demo-env'
          region: ap-southeast-2
          version_label: ${{ github.run_id }}
          deployment_package: my-app.zip
